.top{
    
    padding: 10px 5px 0px 0px;
    
        
}

header{
    background-color: #151515;
    border-top: 1px solid;
    width: 105%;
    min-width: 612px;
}
a{
    margin-top: -8px;
    display: flex;
    justify-content:center;
    text-align: center;
       
}

ul {

    list-style: none;
    padding-inline-start: 40px;
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding: 0px;
  
}
li{
    width: 33%;
}

.button{
    color:white ;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration:none;
   
  
   
}
