.card{
    background-color: #151515;
    
    height: 240px;
    width: 150px;
    margin-top: 50px;
    margin-left:20px ;
   
   
   
}
.card:hover{
    
    background-color: #e62429;
    
}


.title{
    color:white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;  
    
    justify-content: flex-start;
}
.container{
    margin: 10px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
   
    
}


.picture{  
    width:180px;
    height: 180px;
    margin-left: -47px;
    margin-top: -15px;
    justify-content: center; 
    
}

.grid{
    
    display:flex;
   
    flex-direction: column;
    
    background-color: yellow;
    
}

.only_card{
    display:flex;
    justify-content: center; 
}

.picture:hover{
    transform: scale(1.1);
    
}
.card:after{
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #fff;
    border-style: solid;
    border-top-color: transparent;
    border-width: 12px 12px 0 0;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: auto;
    z-index: 40;
}

/* hr {
    margin-top: ;
    height: 10px;
    background-color: red;
  } */