<div class="container">
    <div fxLayout="row wrap" fxLayoutGap="5px grid">
        <div fxFlex="25%" fxFlex.xs="50%" fxFlex.ms="30%" *ngFor="let item of characters">
            <mat-card class="card" >
        
                <mat-card-header>
                    <img class="picture" matCardImage src="{{ item.thumbnail.path }}.{{item.thumbnail.extension}}" >
                    
                </mat-card-header>
                
                <mat-card-content >
                    
                    <mat-card-title class="title" >{{item.name }}</mat-card-title>
                    
                </mat-card-content>
                
                <mat-card-footer >
                    <mat-card-subtitle class="title" >{{item.modified}}</mat-card-subtitle>
                </mat-card-footer>
                
            </mat-card>
            
        </div>
        
    </div>
<!-- <mat-grid-list cols="4"  class="grid">
    <mat-grid-tile  *ngFor="let item of characters" >
   
       
    </mat-grid-tile>
  </mat-grid-list> -->
</div>  

  <!-- <mat-list-item  class="card">
    <mat-card >  
     <div clas="image">
     <img src="{{ item.thumbnail.path }}.{{item.thumbnail.extension}}" style="height: 200px">
     </div>
     <div class="container">
    <h3 class="title" matLine>{{item.name }}</h3>
    <br>
    <p class="title" matLine>{{item.modified}}</p>
 </div>
 </mat-card>
</mat-list-item> -->