.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    
}
.card{
    background-color: black;
    border: 1px solid black;
    width: 200px;
    height: 320px;
    margin: 50px;
 
}
.card:hover{
    
    background-color: #e62429;
    transform: scale(1.1);
    
}


img{
    width: 200px;
    height: 200px;
    justify-content: center;
}
.responsive{
    display:flex;
    flex-direction: column;
    color:white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px; 
    margin: 20px;
    
    
}
